{% extends "ceeapp/base.html" %}

{% block content %}

  <p>Topic: {{ topic }}</p>

  <ul>
    {% for topic in topics %}
    <li>
      <a href="{% url 'ceeapp:topic' topic.id %}">{{ topic }}</a>
    </li>
    {% empty %}
    <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'ceeapp:new_topic' %}">Add a new topic:</a>

  <p>Entries:</p>

  <p>
    <a href="{% url 'ceeapp:new_entry' topic.id %}">add new entry</a>
  </p>

  <ul>
    {% for entry in entries %}
    <li>
      <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ entry.text|linebreaks }}</p>
      <p>
        <a href="{% url 'ceeapp:edit_entry' entry.id %}">edit entry</a>
      </p>
    </li>
    {% empty %}
    <li>
      There are no entries for this topic yet.
    </li>
    {% endfor %}
  </ul>

{% endblock content %}